@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(238, 238, 244, 1)
}

nav  {
    max-width: 1440px;
    margin: 0 auto;
}

.foot {
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 110px;
    
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo ul {
    display: flex;
    gap: 30px;
    list-style-type: none;

}

.logo ul li{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.logo ul li:hover {
    color: rgba(26, 171, 123, 1);
    cursor: pointer;
    transition: .3s;

}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    color: rgba(26, 171, 123, 1);
    cursor: pointer;
    transition: .3s;
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background-color: rgba(16, 16, 16, 1);
    color: white;
    transition: .8s;
    border: 1px solid rgba(16, 16, 16, 0);
    border-radius: 6px;
}

.btn:hover {
    color: rgba(26, 171, 123, 1);
    border: 1px solid rgba(26, 171, 123, 1);
    background-color: rgba(240, 248, 255, 0);
    
}

.page {
    max-width: 1192px;
    margin: 0 auto;
    display: flex;
    margin-top: 91px;
    gap: 74px;
    padding-bottom: 200px;
}

.title {
    width: 550px;
height: 333px;


}

.title h1{
font-family: Plus Jakarta Sans;
font-size: 56px;
font-weight: 700;
line-height: 78.4px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.title button {
    padding: 20px 40px;
    margin-top: 40px;
    background-color: rgba(26, 171, 123, 1);
    border: rgba(26, 171, 123, 0);
    color: white;

    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.title button:hover {
    color: rgba(26, 171, 123, 1);
    border: 1px solid rgba(26, 171, 123, 1);
    background-color: rgba(240, 248, 255, 0);
    transition: .8s;
}

.container {
    background-color: rgb(248, 248, 248);
    padding-top: 50px;
}

.bigbox{
    max-width: 1340px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.h {
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 50.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.boxes {
    max-width: 1216px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.box{
    width: 384px;
height: 358px;
border-radius: 6px ;
border: 2px solid rgba(225, 231, 237, 1);
background: rgba(242, 244, 246, 1);
padding: 40px 30px;
display: flex;
flex-direction: column;
gap: 20px;
transition: .8s;

}

.box h3 {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.box p {
    font-family: Plus Jakarta Sans;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.box a {
    font-family: Plus Jakarta Sans;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-decoration: none;
color: black;
}


.box:hover {
    background-color: rgba(26, 171, 123, 1);
    color: white;
    transform: scale(1.05);

}

.box a:hover {
    color: white;
    font-family: Plus Jakarta Sans;
text-decoration-line: underline;
text-decoration-style: solid;

}

.search {
    background-image: url('./img/image\ 1\ \(2\).svg');
    background: no-repeat center cover ;
    width: 1216px;
    height: 515px;
    border-radius: 6px ;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 70px;
}

.sorov {
    margin: 0 auto;
    width: 565px;
    height: 434px;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.lo h1 {
    width: 411px;
    height: 100px;
    margin: 0 auto;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 110px;
    margin-bottom: 110px;
}

.sorov {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;
}

input {
    width: 463.24px;
    height: 46px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    margin-top: 37px;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid rgba(255, 253, 253, 0.1)
}

input::placeholder {
    opacity: 100%;
    color: white;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.sorov button {
    width:  217.14px;
height: 59px;
padding: 20px 40px;
border-radius: 6px;
margin-top: 40px;
background-color: rgba(26, 171, 123, 1);
border: 1px solid rgba(26, 171, 123, 0);
color: white;

font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 700;
line-height: 19.2px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
transition: .8s;
}


.sorov button:hover {
    background-color: rgb(248, 248, 248, 0);
    border: 1px solid rgba(26, 171, 123, 1);
    cursor: pointer;
    color: rgba(26, 171, 123, 1);
}

header {
    background-color: rgba(16, 16, 16, 1);
}

.head {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head ul {
    display: flex;
    gap: 40px;

}

.head ul li {
    cursor: pointer;
    list-style-type: none;
}